<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Homepage</h1>
    </header>
    <main>
        <p>Testing, testing...</p>
    </main>

</body>

</html>