.card {
  background:rgb(255, 255, 255);
  color: rgb(43, 43, 43);
    border-radius: 2px;
    height: 470px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px rgb(29, 29, 29), 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 60%;
    overflow: hidden;
    text-align: center;
    background:rgb(255, 255, 255);
  }
  .card > .img-container > img {
    width:250px;
    
    
    padding-right: 30px;
    margin-left: 30px;
    

    
    
   
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  h1{
      text-align: center;
      font-family: gothic-open-shaded, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .form-control{
      width: 50%;
      margin-left: 25%;
  }
   h2 {
    font-family: balboa-plus-fill, sans-serif;
    

    font-weight: 400;
    
    font-style: normal;
    
    
  }

  #Share.btn.purple-gradient.color-block.mb-3.mx-auto.waves-effect
{

 left: 10px;
  }

  #searchCard{

    background:rgb(255, 255, 255);
    color: rgb(43, 43, 43);
    border-radius: 2px;
    height: 520px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px rgb(29, 29, 29), 0 3px 6px #999;
    text-align: left;


  }